[connection]
id=keepalived
type=dummy
interface-name=keepalived

[user]
org.freedesktop.NetworkManager.origin=bootc-loadbalancer-controller

[dummy]

[ipv4]
method=manual
{{- range $index, $vip := .VIPs4 }}
address{{ idx1 $index }}={{ $vip }}
{{- end }}

{{- if gt (.VIPs6 | len) 0 }}
[ipv6]
method=manual
{{- range $index, $vip := .VIPs6 }}
address{{ idx1 $index }}={{ $vip }}
{{- end }}
{{- end }}
